@font-face {
    font-family: 'latolight';
    src: url('../font/lato-light-webfont.woff2') format('woff2'),
         url('../font/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../font/latobold-webfont.woff2') format('woff2'),
         url('../font/latobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../font/latoregular-webfont.woff2') format('woff2'),
         url('../font/latoregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

[class*=__content] {
    width: 900px;
    -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
               box-sizing: border-box;
        margin: 0 auto;  
}

.visually-hidden{
   position: absolute !important;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   padding:0 !important;
   border:0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

/* header */

.head {
    background-image: url('../img/background/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right, top, 100%, 100%;
    height: 89.1667rem;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    color: #fff;
}

.head__content {
    width: 600px;
    margin: 0 auto;
}

.head__logo {
    padding-bottom: 85px;
}

.head__title {
    font-size: 3.375rem; /*54px*/
    font-family: 'latobold', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.3;
    padding-bottom: 0.83em;
}

.head__text {
    font-size: 1.05rem; /*15px*/
    text-transform: uppercase;
    line-height: 2;
    font-family: 'latoregular', serif;
}

.head__scroll {
    margin-top: 235px;
}

/* main */

/* section about-us */

.about-us {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
        height: 640px;
        color: #3c3c3c;
    
}

.about-us__content {
    border: 2px solid #3c3c3c;
    margin: 165px auto;
    position: relative;
}

.about-us__title {
    display: inline-block;
    font-size: 2.125rem;  /*34px*/
    text-transform: uppercase;
    font-family: 'latobold';
    background-color: #FFF;
    position: absolute;
    left: 229px;
    top: -20px;
    letter-spacing: 0.2em;
    padding-left: 3.118em;
    padding-right: 3.118em;
}

.about-us__text {
    display: inline-block;
    padding: 103px 240px;
    font-size: 1.1rem; /*16px*/
    font-family: 'latoregular', serif;
    line-height: 2;
}

/* section services */

.services {
    background-image: url('../img/background/services.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 492px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    color: #fff;
    
}

.services-text {
    border: 2px solid #fff;
    border-top: none;
    position: relative;
}

.services-text__title:before {
    content: '';
    width: 235px;
    border: 1px solid #fff;
    position: absolute;
    left: -344px;
    top: 20px;

}

.services-text__title {
    display: inline-block;
    font-size: 2.125rem;  /*34px*/
    text-transform: uppercase;
    font-family: 'latobold';
    position: absolute;
    left: 344px;
    top: -20px;
    letter-spacing: 0.2em;
}

.services-text__title:after {
    content: '';
    width: 235px;
    border: 1px solid #fff;
    position: absolute;
    left: 315px;
    top: 20px;

}

.services-text__text {
    display: inline-block;
    padding: 74px 185px 25px;
    font-size: 1.1rem; /*16px*/
    font-family: 'latolight', serif;
    line-height: 2;
}

/* section we-do */

.we-do__content {
    height: 1190px;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 120px auto;
    border: 2px solid #3c3c3c;
    position: relative;
    color: #3c3c3c;
}

.content {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding: 45px 0;
}

.we-do__title {
    display: inline-block;
    font-size: 2.125rem;  /*34px*/
    text-transform: uppercase;
    font-family: 'latobold';
    background-color: #FFF;
    position: absolute;
    left: 196px;
    top: -20px;
    letter-spacing: 0.2em;
    padding-left: 3.118em;
    padding-right: 3.118em;
}

.block {
    padding: 45px 180px;
}

.content__name {
    font-size: 1.25rem; /*20px*/
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'latobold', serif;
    padding: 25px 0; /*35px*/
}

.content__text {
    font-size: 1rem; /*14px*/
    line-height: 2;
    font-family: 'latolight';
}

/* section gallery */

.gallery {
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.row + .row {
    margin-top: 5px;
}

.gallery-img {
    overflow: hidden;
    position: relative;
    width: 33.3333%;
}

.gallery-img + .gallery-img {
    margin-left: 5px;
}

.gallery-img__text {
    text-transform: uppercase;
    font-size: 2.125rem;
    color: #fff;
    font-family: 'latobold', serif;
    letter-spacing: 0.2em;
    position: absolute;
    left: 1.47em;
    bottom: 1em;
}

.gallery-img__text:focus {
    font-size: 2.25rem;
    transition: 0.5s ease-in;
    z-index: 1;
}

/* footer */
/* section contact-us */

.contact-us__content {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 120px auto;
    border: 2px solid #3c3c3c;
    margin-top: 140px;
    margin-bottom: 60px;
    color: #3c3c3c;
    position: relative;
}

.contact-us__title {
    display: inline-block;
    font-size: 2.125rem;  /*34px*/
    text-transform: uppercase;
    font-family: 'latobold';
    background-color: #FFF;
    position: absolute;
    left: 196px;
    top: -20px;
    letter-spacing: 0.2em;
    padding-left: 3.118em;
    padding-right: 3.118em;
}

.contact-us__text {
    display: inline-block;
    padding: 50px 175px 40px;
    font-size: 1.1rem; /*16px*/
    font-family: 'latolight', serif;
    line-height: 2;
}

.contact-us__btn {
    width: 398px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background-color: #3c3c3c;
    text-transform: uppercase;
    font-size: 1rem; /*16px*/
    letter-spacing: 0.2em;
    font-family: 'latoregular';
    margin-left: 249px;
    margin-bottom: 50px;
    border: none;
}

/* section rools */

.rools {
    margin-bottom: 60px;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    margin-left: -113px;
}

.rools__text {
    font-size: 14px;
    line-height: 37px; 
    font-family: 'latoregular', serif;
    color: #3c3c3c;
    margin-left: -85px;
}

.rools__link {
    color: #3c3c3c
}





















/*
.gallery-img__text:focus + .gallery-img__image {
    perspective: 40px;
    transform: scale(0.9), rotateX(-15deg);
    transition: 0.5s ease-in;
}*/